.img{
    background-image: url(https://i.pinimg.com/originals/cc/95/74/cc9574fec969ca0dcc275801361768de.jpg);
    background-size: cover;
    height: 100%;
    width: 100%;
    align-items: center;
}