.img{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRE-KsMThtVt1n0BrLkLObus64HrRhqOEbXpg&usqp=CAU);
    background-size: cover;
    height: 100%;
    width: 100%;
    align-items: center;
}